@import "./baseColor";

$textInputBorderRadius : 5px;
$buttonBorderRadius : 3px;
$bottonAndLogoColor : rgb(78,102,116);
$bottonHoverColor : #f1c480;

*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: $page-color;
    background-image: url(https://images.unsplash.com/photo-1606761568499-6d2451b23c66?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sbGVnZSUyMGNsYXNzcm9vbXxlbnwwfHwwfHw%3D&w=1000&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);

    nav{
        width: 100%;
        height: 13vh;
        background-color: $nav-color;
        position: relative;
        box-shadow: 0px 0px 30px gray;
    
        .logoFrame{
            display: inline-block;

            i{
                float: left;
                color: #ffffff;
                margin-top: 3vh;
                margin-left: 3vh;
                font-size: 40px;
                text-decoration: none;
            }
            h2{
                float: left;
                color: #ffffff;
                font-family: Californain FB;
                margin-top: 3vh;
                margin-left: 3vh;
                margin-left: 1vw;
                text-decoration: none;
            }
        }

        .breadcrumb{
            position: absolute;
            height: auto;
            width: max-content;
            right: 20px;
            top: 40%;

            .student{
                a{
                    font-size: 18px;
                    font-weight: 600;
                    color: white;
                    text-decoration: none;
                    &:hover{
                        color: $selector-color;
                    }
                }
            }
            .logout{
                a{
                    font-size: 16px;
                    font-weight: 600;
                    vertical-align: middle;
                    color: white;
                    text-decoration: none;
                    &:hover{
                        color: $selector-color;
                    }
                }
            }
        }
    }


    .Frame{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        margin-top: 3vh;
        background-color: rgba(236, 236, 236, 0.5);
        height: 80%;
        width: 90%;
        border: 2px solid rgb(148, 148, 148);
        border-radius: 20px;
        transition: 0.5s;
        overflow: hidden;
        &:hover{
            scale: 1.01;
        }

        .BtnFrame{
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 2vh;
            width: 30%;
            height: auto;

            .backBtn{
                width: 8vw;
                height: 30px;
                color: white;
                background-color: $nav-color;
                border-radius: $buttonBorderRadius;
                border: none;
                transition: 0.5s;
    
                &:hover{
                    background-color: $bottonHoverColor;
                    color: black;
                }
                &:active{
                    scale: 0.85;
                }
            }
        }
            

        .infoFrame{
            position: absolute;
            height: 90%;
            width: 60%;
            background-color: rgba(236, 236, 236, 1);
            top: 2%;
            left: 2%;

            .titleAndSearch{
                position: relative;
                .infoTitle{
                    margin-top: 20px;
                    margin-left: 2%;
                }
                .searchFrame{
                    position: absolute;
                    right: 2%;
                    top: 0;
                    bottom: 0;
                    margin-top: auto;
                    margin-bottom: auto;
                    display: inline-block;
                    height: max-content;
                    width: max-content;
                    .inputFrame{
                        position: relative;
                        display: inline-block;
                        height: max-content;
                        width: max-content;
                        .fa-magnifying-glass::before{
                            position: absolute;
                            font-size: 16px;
                            left: 5%;
                            top: 50%;
                            margin-top: -8px;
                        }
                        .search{
                            width: 9vw;
                        }
                    }
                }          
            }

            .accordionFrame{
                overflow: auto;
                margin: auto;
                width: 98%;
                height: 85%;
                .accordion-flush{
                    width: 100%;
                    .accordion-body{
                        position: relative;

                        %BtnSetting{
                            position: absolute;
                            right: 1vw;
                            margin: auto;
                            padding-left: 1rem;
                            padding-right: 1rem;
                            width: max-content;
                            height: 30px;
                            color: white;
                            background-color: $nav-color;
                            border-radius: $buttonBorderRadius;
                            border: none;
                            transition: 0.5s;
                
                            &:hover{
                                background-color: $bottonHoverColor;
                                color: black;
                            }
                            &:active{
                                scale: 0.85;
                            }
                        }
                        .addBtn{
                            @extend %BtnSetting;
                            bottom: 60%;
                            &:disabled{
                                background-color: rgb(168, 168, 168);
                                color:rgb(63, 63, 63);
                            }
                            &:disabled:hover{
                                scale: 1;
                            }
                        }
                        .selectBtn{
                            @extend %BtnSetting;
                            margin-right: 32px;
                            bottom: 30%;
                            &:disabled{
                                background-color: rgb(168, 168, 168);
                                color:rgb(63, 63, 63);
                            }
                            &:disabled:hover{
                                scale: 1;
                            }
                        }        
                    }
                }
            }
        }

        .selectCourseFrame{
            position: absolute;
            height: 90%;
            width: 35%;
            background-color: rgba(236, 236, 236, 1);
            top: 2%;
            right: 2%;
            .selectTitle{
                margin-top: 20px;
                margin-left: 2%;
            }
            .cardFrame{
                margin: auto;
                height: 80%;
                width: 90%;
                overflow: auto;
                .card{
                    width: 100%;
                    position: relative;
                    button{
                        display: inline-block;
                        position: absolute;
                        top: 10%;
                        right: 2%;
                        width: max-content;
                        height: 80%;
                        color: white;
                        background-color: $nav-color;
                        border-radius: 16px;
                        border: none;
                        transition: 0.5s;
            
                        &:hover{
                            background-color: $bottonHoverColor;
                            color: black;
                        }
                        &:active{
                            scale: 0.85;
                        }
                        
                    }
                }
            }

            .removeAllSelect{
                position: absolute;
                bottom: 2vh;
                left: 20%;
                width: 8vw;
                height: 30px;
                color: white;
                background-color: $nav-color;
                border-radius: $buttonBorderRadius;
                border: none;
                transition: 0.5s;
    
                &:hover{
                    background-color: $bottonHoverColor;
                    color: black;
                }
                &:active{
                    scale: 0.85;
                }
            }

            .commitSelect{
                position: absolute;
                bottom: 2vh;
                right: 20%;
                width: 8vw;
                height: 30px;
                color: white;
                background-color: $nav-color;
                border-radius: $buttonBorderRadius;
                border: none;
                transition: 0.5s;
    
                &:hover{
                    background-color: $bottonHoverColor;
                    color: black;
                }
                &:active{
                    scale: 0.85;
                }
            }
        } 
    }
}